<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dingu.axicut">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inward.InwardMainActivity"
            android:screenOrientation="portrait"
            android:label="Inward">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.user.AdminAddUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.LotNumber.AddLotNum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginTheme"></activity>
        <activity
            android:name=".Admin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utils.Navigation.Projector"
            android:label="@string/title_activity_projector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Company.AdminAddCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.Materials.AdminAddMaterials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Design.DesignMainActivity"
            android:screenOrientation="portrait"
            android:label="Design">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Design.DesignWorkOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Production.ProductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="Production">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Production.ProductionWorkOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inward.Despatch.DespatchScrapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.AdminWorkOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Inward.InwardAddEditSaleOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Utils.General.Search.SearchResultsActivity"></activity>
        <activity android:name=".Utils.General.Search.FilterActivity"></activity>
    </application>

</manifest>